<%- include include/header%>
<%if(count){%>
一共有<%=count%>篇文章
<%}%>
    <ul class="content-box">
        <%
        articles.forEach(function(article){
        %>  
        <li>
            <div class="">
                <h4>
                    <a href="/article/view/<%=article._id%>"><%=article.title%></a>
                </h4>
                <p class="about">
                发表时间:  <%=article.createTime.day%>&nbsp;&nbsp;
                阅读数:  <%=article.pv%> &nbsp;&nbsp;&nbsp;
                评论数:  <%=article.comments.length%></p>
                <div class=" content">
                    <%- article.content%>
                </div>
            </div>
            <div class="sign">
                <p>标签：<% article.tags.forEach(function(tag){ %>
                      <a href="/article/tags/<%=tag%>"> <%=tag%> </a>&nbsp;
                  <%})%>
                </p>
            </div>
        </li>
        <%
        });
        %>
    </ul>
<nav class="pagination-box">
    <ul class="pagination">
        <%
            var num =0;
            if(pageNum %5==0){
                num = pageNum/5 -1;
            }else{
                num = Math.floor(pageNum/5);
            }
            var start = num *5+1;
            var end = start + 4 > totalPage ? totalPage : start+4;
            if(start >1){
        %>   
            <li>
                <a href="/article/list/<%=start -1%>">&laquo;</a>
            </li>
        <%
            }
            for(var i=start;i<=end;i++){
        %>
            <li>
                <a href="/article/list/<%=i%>/"><%=i%></a>
            </li>
        <%
            }
            if(totalPage>end){
        %>
            <li>
                <a href="/article/list/<%=end +1%>">&raquo;</a>
            </li>
        <%
            }
        %>
    </ul>
</nav>
<%- include include/footer.ejs%>
