<%- include ../include/header%>
<div class="form-horizontal">
    <input type="hidden" name="_id" value="<%=article._id%>">
    <div class="form-group">
        <label class="col-md-2 control-label">标题:</label>
        <div class="col-md-8">
            <input type="text" name="title" class="form-control title" value="<%=article.title%>" placeholder="请输入文章标题">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">正文:</label>
        <div class="col-md-8">
            <div id="summernote"><%=article.content%></div>
        </div>

    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">标签:</label>
        <div class="col-md-8">
            标签1<input type="text" name="tag1" class="form-control tag1" value="<%=article.tag1%>">
            标签2<input type="text" name="tag2" class="form-control tag2" value="<%=article.tag2%>">
            标签3<input type="text" name="tag3" class="form-control tag3" value="<%=article.tag3%>">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-8">
            <button type="buttom" class="btn btn-default <%if(cmd){ %>  <%=cmd%>-article  <% }%> ">发表文章</button>
        </div>
    </div>
</div>
<%- include ../include/footer%>